<div class="todos bclb ">

    <form class="center fdc" (submit)="addTodo()">
        <input 
        type="text"
        name="inputTodo"
        placeholder="Enter Value..."
        class="todo-input"
        [(ngModel)]="inputTodo"
        >

        <input 
        type="submit"
        value="Add Todo"
        class="todo-submit"
        >
    </form>

    <div class=" flex md center" *ngFor='let todo of todos; let i = index' 
    class="todo {{ (todo.completed ? 'done' : '') }}">
        <div class="id fone tcenter ">{{i}}</div>
        <div class="content fone tcenter" (click)="toggleDone(i)">{{todo.content}}</div>
        <button class="delete tcenter" (click)="deleteTodo(i)">Remove</button>
    </div>
</div>
